body {
    padding: 0;
    margin: 0;
}
body, #entry {
    background: #22252a;
    color: #eee;
}
body, table {
    font-family: DejaVu Sans Mono, fixed;
    font-size: 13pt;
    line-height: 150%;
}
tr,td,table {
    padding: 0;
    margin: 0;
    outline-width: 0;
    border-width: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

a { text-decoration: none; color: #fff; }
a:hover { text-decoration: underline; color: #aaa; }


#toolbar {
    position: fixed;
    color: #fff;
    width: 100%;
    bottom: 0;
    background: #65A33F;
}

#command_list {
    position: absolute;
    color: #fff;
    width: 100%;
    font-size: 1em;
    top: 55%;
}

#entry {
    width: 100%;
    font-size: inherit;
    padding: 1em;
    margin: 0;
    border-width: 0;
    outline-width: 0;
    clear: both;
}

#log {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    height: 50%;
    font-size: 1em;
    overflow: auto;
    top: 0; right: 0;left: 0;
    /* border: 1px solid red; */
    background: inherit;
}

.cmd {color: #F7A63D; }

.message {
    margin: 0.1em 0;
}

.message td {
    vertical-align: top;
}


#toolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toolbar li {
    display: block;
    float: left;
    margin: 0 2em 0 0;
}

#usersLink {
    color: inherit;
}